li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.main
{

}
.body
{
    background-color: #f0f0f0;
}
#slidebox{
    width: 100%;
    height: auto;
    position: absolute;
    background-color: #f0f0f0;
}
#slidebox1{
    width: 100%;
    height: auto;
    position: absolute;
    background-color: #f0f0f0;
}
.headimg
{
    position: absolute;
    width: 100%;
    height: auto;
}
.texthead
{
    position: absolute;
    margin-top: 9%;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.textheadsmall
{
    position: absolute;
    margin-top: 25%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.header
{
    background: url("../img/newHeader.png");

    width: 1920px;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color: #fff;
}
.facts
{
    margin-top: 24%;
}
.facts-numbers
{
    text-align: center;
    font-size: 3vw;
    padding-left: 30%;
    color:#f8f8f8;
}
.facts-text
{
    font-size: 1vw;
    padding-left: 30%;
    color:#f8f8f8;
    text-align: center;
}
.facts-numbers1
{

    font-size: 3vw;
    margin-right: 30%;
    text-align: center;
    color:#f8f8f8;
}
.facts-text1
{
    font-size: 1vw;
    margin-right: 30%;
    text-align: center;
    color:#f8f8f8;

}
.facts-numbers2
{
    text-align: center;
    font-size: 3vw;
    margin-right: 30%;
    color:#f8f8f8;
}
.facts-text2
{
    text-align: center;
    font-size: 1vw;
    margin-right: 30%;
    color:#f8f8f8;

}
.text-factallign
{
    text-align: center;
}
.how
{
    width: 50%;
    height: auto;
    margin-left: 25%;
}
.how-header-text
{
    width: 100%;
    font-size: 3vw;
    text-align: center;
    font-family: sans-serif;
}
.box1
{
    background-color: #f0f0f0;
    margin: 0;
}
.button
{
    margin-left: 10%;
    font-size: 1.3vw;
    height: 4%;
    border-radius: 0;
}
.howimg
{
    position: absolute;
}
.boxsliders
{
    padding: 0;
    background: #aaa;
    margin: 0;
    height: 100px;

}
.buttbox
{
position: absolute;
}
.box2
{
    position: absolute;
}
.line1
{
    background: #000;
}
.slider
{
position: relative;
    width: 100%;
    height:auto;

}
.slider1
{
    position: absolute;
    margin-top: 10%;
    width: 100%;
    height:auto;

}
.why
{

    width: 100%;
    height: auto;
    margin-left: 100%;

}
.slider-text
{
    margin-left: 5%;


}
.slider-box
{
    position: absolute;
}
.slider-text1
{
    margin-left: 5%;


}
.color
{

    margin-top: 10px;
    background-color: #f0f0f0;

}
.count
{


    height: auto;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
}
.whyimg
{

    padding: 0;
}
.whyimg1 {
    position: relative;
    width: 100%;
    height: auto;
}
.count-box
{
    width: auto;
    height: auto;
    font-size: 1.5vw;
    border:0;
    padding: 0;
}
.button1
{
    width: 100%;
    height: auto;
    font-size: 1.5vw;
}
.count-text
{
    width: 100%;
    font-size: 1.9vw;
    text-align: center;

}
.count-title
{

    width: 30%;
    height: auto;
    margin-top: 3%;
    font-size: 1.2vw;
    float: right;
    margin-right: 10%;
}
.comments
{

    width: 100%;
    margin-top: 2%;
    height: auto;
}
.comments-img
{
    position: absolute;
    width: 100%;
    height: auto;

}
.count-box
{

    width: 100%;
    height: auto;
    overflow: hidden;
}
.courtext
{
    width: 100%;
    height: auto;

}
.text
{
    width: 60%;
    height: auto;
    margin-left: 20%;
    text-align: center;
    color: #f0f0f0;
}
.courarrow
{
    position: absolute;
    margin-top: 11%;
}
.scrolltitle
{
    font-size: 2vw;
}
.scrollpar
{
    width:70%;
    font-size: 1.5vw;
    margin-left:15%;
}
.date
{
    font-size: 1vw;
    text-align: left;
    width: 50%;
    margin-left: 25%;
}
.footer
{

    margin-top: 53.3%;
    width: 100%;

}






