.headimg
{
    position: absolute;
    width: 100%;
    height: auto;
}
.texthead
{
    position: absolute;
    margin-top: 12%;
    width: 100%;
    text-align: center;
}
.header
{
    background: url("../img/newHeader.png");

   width: 1920px;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color: #fff;
}
