

@font-face {

    font-family: AleksandraC; /* имя шрифта для CSS правил */

    src: local("AleksandraC"), /* проверяем наличие шрифта в ОС пользователя */

    url(fonts/AleksandraC_regular.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */

}

* { font-family: "AleksandraC"; }
.body
{
    margin: 0px;
    background-color: #fbffe9;
}

.header
{
position: relative;
    width: 100%;
    height: auto;
}
.headimg
{
    position: absolute;
    max-width: 100%;
    height: auto;
}
.logining
{
    position: fixed;
}
.signin
{
    width: 29%;
    height: auto;
}
.signup
{
    width: 50%;
    height: auto;
}
.button
{
    position: absolute;
    padding-top: 1%;
    margin-left: 85%;
    width: 15%;
    height: 5%;
}
.logo
{
    position: absolute;
    padding-top: 5%;
    padding-left: 5%;
    width: 12%;
    height: auto;
}
.logoimg
{
    width: 80%;
    height: 80%;
}
.headertext
{
    margin: 0px;
    color: #fbffe9;
    text-align: center;
}
.head
{
    position: absolute;
    width: 60%;
    height: 20%;
    margin-left: 20%;
    margin-top: 9%;
    font-size: 2.5vw;
}
.main
{
    position: absolute;
    margin-top: 27%;
    width: 100%;
    height: 60%;
}
.textmaincount
{
   position: absolute;
    width: 50%;
    height: 35%;
    margin-left: 25%;
    color: #000000;
}
.maintext
{
   /* font-family: monospace;*/
    font-style: italic;
    font-size: 3vw;
    margin: 0px;
    text-align: center;
}
.how
{
    position: absolute;
    width:80%;
    height:60%;
    margin-left: 10%;
    margin-top: 14%;
    color: #ffffff ;
}
.howtitle
{
    color: black;
    width: 20%;
    height: auto;
    margin: auto;
    font-size: 1.5vw;
}
.howcircles
{
    margin-top: 4%;
}
.how1
{
    position: absolute;
    background-color: #F38630;
    width: 20%;
    border-radius: 100%;
    float: left;
}
.how2
{
    position: absolute;
    background-color: #F38630;
    width: 20%;
    border-radius: 100%;
    margin-left: 40%;

}
.how3
{
    position: absolute;
    background-color: #F38630;
    width: 20%;
    border-radius: 100%;
    margin-left: 80%;

}
.how-inner
{
    position: relative;
    height: 0;
    border: none;
}
.ratio100
{
    padding-top: 100%;
}
.how12
{
    position: absolute;
    margin-top: 40%;
    margin-left: 15%;
    width: 70%;
    height: auto;
    font-size: 1.2vw;
    text-align: center;
}
.arrow1
{
    position: absolute;
    width: 10%;
    height: auto;
    margin-top: 5%;
    margin-left: 25%;
}
.arrow2
{
    position: absolute;
    width: 10%;
    height: auto;
    margin-top: 5%;
    margin-left: 65%;
}
.join
{
    position: relative;
    margin-top: 40%;
    width:15%;
    height: 10%;
    margin-left: 42.5%;
    background-color: #FA6900;
    font-size: 1.5vw;
    text-align: center;
    color: #ffffff ;
}
.textjoin
{
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
}
.m2
{
    margin-top: 2%;
}
 .reason
 {
     margin-left: 10%;
     width: 10%;
     height: 3%;
     font-size: 2vw;
 }
 .check
 {
     float: left;
     width: 40%;
     height: auto;
 }
 .checktext
 {
     position: absolute;
     margin-top: 1%;
     margin-left: 5%;
 }
 .check1
 {
     position: relative;
     margin-top: 7%;
     height: 25%;
 }
 .check2
 {
     position: relative;
     height: 25%;
 }
 .because
 {
     position: absolute;
     width: 100%;
     height: 50%;
 }
 .footer
 {
     position: absolute;
     background-color: #E0E4CC;
     width: 100%;
     height: 20%;
     margin-top: 100%;

 }
 .newbox
 {
     position: absolute;
     margin-top: 30%;
 }
 .boxcount
 {
     width: 100%;
     height: 40%;
     background-color: #F38630;
 }