.littletext
{

    margin-top: 10%;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main{

    margin-top: 6%;
    width: 100%;
    height: auto;
}
.btn-aply
{

    width: 10%;

}

.buttons
{

    width: 92%;
    height: 100%
}
.ent
{
    float: left;

}