.font
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}
span
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}

form
{
	text-align: center;
	margin-top: 10%;
}
span
{
	float:left;
	width:180px;
	text-align: left;
	font-size: 20px;

}
.input
{

	border-radius: 3px;
}
#continues
{
	height:40px;
	width:320px;
	font-size: 1.4em;
	margin-left: -120px;
	vertical-align: 40%;
	padding-bottom: 1.9em;
	margin-top:80px;
}
#enter
{
	margin-top: 10px;
	margin-right: 110px;
}
#butt1
{
	position: absolute;
	margin-top: 2.5%;
	margin-left: 41%;

}
.but
{
position: absolute;
	margin-left: 45.5%;
}
.set1
{
	float:left;
	margin-left:100px;
}
.set2
{
	float:right;
	margin-right: 100px;
}
.buttons
{
	margin-top: 220px;
}
#continues1
{
	height:40px;
	width:320px;
	font-size: 1.4em;
	margin-left: -80px;
	vertical-align: 40%;
	padding-bottom: 1.9em;
	margin-bottom:-160px;
}
.set11
{
	float:left;
	margin-left:200px;
	text-align: left;
	margin-top:-20px;

}
.set21
{
	float:right;
	margin-right: 200px;
	margin-top: -100px;
	text-align: left;
}
#continues2
{
	height:40px;
	width:320px;
	font-size: 1.4em;
	margin-left: -100px;
	vertical-align: 40%;
	padding-bottom: 1.9em;
	margin-top:100px;
}
#nick1 {
	margin-left: -180px;
}
.input-box
{
	width: 40%;
	height: auto;
	margin-left: 30%;


}
